body { background-color: #000000;
  color: #FFFFFF;
}
h1 { font-size: 20px;
}
p { font-size: 12px;
  color: #32D615;
}
div { border-style: dotted;
  border-width: 2px;
}
ol { list-style-type: upper-latin;
}
ul { list-style-type: square;
}
